.add_item {
  font-size: 18px;
  margin: 20px 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.add_item input {
  float: left;
  padding: 16px;
  padding-bottom: 18px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 74%;
}

.add_item_button {
  float: right;
  padding: 16px 20px;
  text-align: center;
  border: none;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #4af;
  color: #fff;
  font-weight: 700;
}

.add_item_button:hover {
  cursor: pointer;
  background-color: #4cf;
}

@media screen and (min-width: 1170px) {
  .add_item {
    font-size: 20px;
    margin: 40px 15px;
  }

  .add_item input {
    float: left;
    padding: 22px;
    padding-bottom: 21px;
    font-size: 20px;
    width: 90%;
    box-sizing: border-box;
  }

  .add_item_button {
    float: right;
    padding: 20px;
    width: 10%;
    color: #fff;
    font-weight: 500;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 600px) and (max-width: 1170px) {
  .add_item {
    font-size: 20px;
    margin: 40px 15px;
  }

  .add_item input {
    float: left;
    padding: 22px;
    padding-bottom: 21px;
    font-size: 20px;
    width: 90%;
    box-sizing: border-box;
  }

  .add_item_button {
    float: right;
    padding: 20px;
    width: 10%;
    color: #fff;
    font-weight: 500;
    box-sizing: border-box;
  }
}
