.add_item {
  font-size: 20px;
  margin: 40px 15px;
}

.add_item input {
  display: inline-block;
  padding: 20px 20px;
  font-size: 20px;
  width: 90%;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.add_item_button {
  display: inline-block;
  padding: 20px 20px;
  text-align: center;
  width: 10%;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #4af;
  color: #fff;
  font-weight: 500;
}

.add_item_button:hover {
  cursor: pointer;
  background-color: #4cf;
}
