header {
  background-color: #fff;
  color: #3a3a3a;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}

.header_title {
  cursor: pointer;
  font-weight: 700;
  color: #3a3a3a;
  padding: 16px 15px;
  font-size: 28px;
  text-align: center;
}

.header_options_container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

.header_option_wrapper {
  width: 33.3333%;
  float: left;
}

.header_option {
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

.activeOption {
  padding: 5px 10px;
  border-top: 5px solid #4cf;
}

.header_option:hover {
  background-color: #eee;
}

@media screen and (min-width: 1170px) {
  .header_title {
    font-size: 22px;
    text-align: left;
    float: left;
  }

  .header_options_container {
    margin-right: 15px;
    float: right;
    position: static;
    width: auto;
  }

  .header_option_wrapper {
    width: auto;
    float: left;
  }

  .header_option {
    padding: 20px 30px;
    font-size: 16px;
    cursor: pointer;
  }
  .activeOption {
    padding-top: 15px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1170px) {
  .header_title {
    font-size: 22px;
    text-align: left;
    float: left;
  }

  .header_options_container {
    margin-right: 15px;
    float: right;
    display: block;
    position: static;
    width: auto;
  }
  .header_option {
    padding: 20px 30px;
    font-size: 16px;
    cursor: pointer;
  }

  .header_option_wrapper {
    width: auto;
    float: left;
  }

  .activeOption {
    padding-top: 15px;
  }
}
