.todo-list {
  background-color: white;
  border: 1px solid #efefef;
  box-shadow: 1px rgba(0, 0, 0, 0.15);
  padding: 30px 50px;
  margin: 0 15px;
}

.todo-item {
  width: 100%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
  color: #333333;
  padding: 10px;
}

.todo-item-left {
  float: left;
}

.removeTask {
  float: right;
  color: #000;
  cursor: pointer;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.removeTask:hover {
  background-color: #f00;
  color: #fff;
}

input[type='checkbox'] {
  margin-right: 10px;
  width: 22px;
  height: 22px;
  vertical-align: middle;
}

.completedTask {
  text-decoration: line-through;
}

.no_data {
  width: 100%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
  color: #333333;
  padding: 10px;
}
